@import './custom.less';

@footer: footer0;
.@{footer} {
  &-wrapper {
    background-color: @template-bg-color;
    text-align: center;
    height: 470px;
    color: #fff;
  }
  &-content {
    width: 25%;
    font-family: PingFangSC-Regular;
    float: left;
    padding-top: 70px;
    position: relative;
    .footer_h5 {
      font-size: 22px;
      color: #fff;
    }
    .footer_div {
      height: 148px;
      line-height: 148px;
      .footer_div_text {
        line-height: 40px;
        font-size: 24px;
      }
      img {
        vertical-align: middle;
      }
    }
    .footer_p {
      font-family: PingFangSC-Light;
      font-size: 14px;
      color: #ccc;
    }
    // &:nth-of-type(n+2)::before {
    //   content: '';
    //   display: inline-block;
    //   position: absolute;
    //   left: 0;
    //   top: 60px;
    //   height: 194px;
    //   width: 1px;
    //   opacity: 0.28;
    //   background: #FFFFFF;
    // }
  }
  .line {
    margin-top: 40px;
    padding-top: 20px;
    font-size: 22px;
    font-family: PingFangSC-Light;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      height: 1px;
      width: 760px;
      background: #FFFFFF;
    }
    img {
      vertical-align: middle;
    }
    .iconFooter img {
      margin-right: 20px;
      height: 28px;
    }
    .iconFooter:first-of-type {
      margin-right: 28px;
    }
  }
  .footer-ul{
    height: 33px;
    // padding: 24px 0 20px;
    // margin: 0 auto;
    // position: relative;
    // left: 50%;
    margin-right: 50px;
    li {
      display: inline-block;
      // position: relative;
      // right: 50%;
      height: 28px;
      margin-right: 28px;
      img:first-of-type{
        height: 100%;
        cursor: pointer;
        &:hover {
          opacity: .5;
        }
        &:hover + img{
          display: block;
        }
      }
      img:nth-of-type(2){
        position: absolute;
        top: -144px;
        left: -53px;
        width: 120px;
        display: none;
      }
    }
    li:last-of-type {
      margin-right: 0;
    }
  }
  &-text {
    font-size: 18px !important;
    letter-spacing: 4px;
    margin: 50px auto 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .@{footer} {
    &-wrapper {
      height: 1000px;
    }
    &-content {
      width: 100%;
      height: 210px;
      padding-top: 30px;
      &:first-of-type {
        height: 220px;
        padding-top: 40px;
      }
      &:nth-of-type(3) {
        .footer_div {
          padding: 18px 0 !important;
        }
      }
      .footer_h5 {
        font-size: 13px;
      }
      .footer_div {
        height: 117px;
        line-height: 117px;
      }
      .footer_p {
        font-size: 13px;
      }
      &:nth-of-type(n+2)::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 0;
        height: 1px;
        width: 88px;
        margin-left: -44px;
        opacity: 0.28;
        background: #FFFFFF;
      }
    }
    .line {
      margin-top: 10px;
      flex-direction: column;
      font-size: 16px;
      line-height: 26px;
      &::before {
        width: 75%;
      }
      .footer-ul{
        margin-right: 0;
        li {
          height: 26px;
        }
      }
      .iconFooter img {
        height: 22px;
      }
      .iconFooter:first-of-type {
        margin-right: 0;
      }
    }
    &-text {
      margin-top: 10px !important;
      font-size: 12px !important;
    }
  }
}
