@import './../../common/less/custom.less';

@content2: content2;
.@{content2} {
  &-wrapper {
    background: #EEF6FF;
    height: 900px;
    padding-top: 73px;
    color: #212121
  }
  &-text {
    max-width: 615px;
    margin: 0 auto 68px;
    text-align: center;
    height: 196px;
    h3 {
      font-family: SourceHanSerifSC-Bold;
      font-size: 32px;
      opacity: 0.8 !important;
      line-height: 38px;
    }
    p {
      font-family: PingFangSC-Regular;
      font-size: 16px;
      opacity: 0.6 !important;
      line-height: 26px;
      margin-top: 16px;
      &:nth-of-type(2) {
        margin-top: 24px;
      }
      a {
        text-decoration: underline;
        color: #075498;
        &:hover {
          color: #007aff;
        }
      }
    }
  }
  &-img {
    float: left;
    width: 40.7%;
    height: 426px;
    margin-left: 13%;
    text-align: center;
    padding-left: 12%;
    img {
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
    }
    &.one {
      padding-left: 0;
      padding-top: 46px;
    }
  }
  &-rightText {
    float: right;
    list-style: none;
    font-size: 22px;
    line-height: 44px;
    padding-top: 110px;
    margin-right: 20%;
  }
}

@media screen and (max-width: 767px) {
  .@{content2}-wrapper {
    height: 452px;
    margin-top: 0;
    padding-top: 30px;
    .@{content2} {
      overflow: hidden;
      width: 90%;
      margin: auto;
      > h1, > p {
        width: 80%;
      }
      > h1 {
        font-size: 16px;
        line-height: 24px;
      }
      > p {
        font-size: 12px !important;
        line-height: 20px;
        margin-top: 8px;
      }
      &-img {
        span {
          width: 80%;
          margin: 0 auto;
          img {
            width: 50%;
            &:nth-of-type(2){
              position: relative;
              top: 10px;
            }
          }
        }
      }
    }
  }
}
