@import './../../common/less/custom.less';

@content7: content7;
.@{content7} {
  &-wrapper {
    height: auto;
    .content-template{
      height: auto;
    }
  }
  &-leftImg {
    position: absolute;
    width: 40%;
    left: -10px;
    top: 200px;
    z-index: 2;
    img {
      width: 100%;
    }
  }
  &-main {
    width: 67.5%;
    margin: 0 auto 40px;
    padding: 80px 8% 225px 27%;
    border: 2px solid #D5DEE9;
    color: #212121;
    h3 {
      font-family: SourceHanSerifSC-Bold;
      font-size: 32px;
      opacity: 0.8;
      line-height: 38px;
      span {
        font-family: Georgia;
        font-size: 15px;
        opacity: 0.6;
        line-height: 18px;
      }
    }
    p {
      font-family: PingFangSC-Regular;
      font-size: 16px;
      opacity: 0.6;
      line-height: 26px;
      margin-left: 30px;
      margin-top: 24px;
      a {
        text-decoration: underline;
        color: #075498;
        &:hover {
          color: #007aff;
        }
      }
    }
    img {
      position: absolute;
      right: -14%;
      bottom: -40px;
      width: 43%;
      z-index: 2;
    }
  }
}

// @media screen and (max-width: 767px) {
//   .@{content7}-wrapper {
//     height: auto;
//     .@{content7} {
//       height: auto;
//       width: 90%;
//       max-width: 100%;
//       &:nth-of-type(3){
//         p {
//           font-size: 12px !important;
//           line-height: 20px;
//           margin: 0 auto 10px;
//         }
//       }
//       > h1 {
//         margin: 40px auto 20px;
//         font-size: 22px;
//         line-height: 30px;
//       }
//       > p {
//         width: 90%;
//         font-size: 13px !important;
//         line-height: 24px;
//         > span {
//           height: 2px;
//           border-radius: 4px;
//           margin-top: 10px;
//         }
//       }
//       > div {
//         width: 100%;
//       }
//       h2{
//         font-size: 16px;
//         margin: 0 auto 8px;
//       }
//     }
//   }
// }