
@media screen and (min-width: 768px) {
#nav_0_0-menu .ant-menu-item-active,#nav_0_0-menu.ant-menu-horizontal > .ant-menu-item-selected { color: #fff; border-color: #fff }
#nav_0_0-menu { color: rgba(255,255,255,0.8) }
#nav_0_0 { background-color: rgba(0,0,0,0.3) }
#content_0_0:before { background-image: url(../../../assets/index_bg.png); position: relative }
}
@media screen and (max-width: 767px) {
#nav_0_0-menu .header0-phone-nav-text { width: 50%; height: 20%; top: 52px; padding-top: 0px; background-color: 0px }
#nav_0_0-menu .header0-phone-nav-text .ant-menu .ant-menu-item { height: 60px; line-height: 60px; background-color: #fff; font-size: 18px }
.ant-menu .ant-menu-item a {color: #757575;}
#nav_0_0-menu .header0-phone-nav-text .ant-menu .ant-menu-item.ant-menu-item-selected { background-color: #DAEDFB; }
#nav_0_0-menu .header0-phone-nav-text .ant-menu .ant-menu-item.ant-menu-item-selected a { color: #108EE9 }
#nav_0_0 { background-color: rgba(0,0,0,0.3); height: 49px; position: fixed }
#nav_0_0-logo { line-height: 49px }
}