<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Keywords" content="爱滑冰, 花样滑冰">
  <meta name="Description" content="一个专业的花样滑冰服务平台。我们有世界双人滑冠军庞清，佟健；有在各大冰场忙碌演出的iSkating表演团；有独一无二的花样滑冰APP平台；有无数人参与的公益课">
  <title>爱滑冰 | 花样滑冰的专业平台</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <!--[if lte IE 10]>
    <script src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,media-match/2.0.2/media.match.min.js"></script>
  <![endif]-->
</head>
<body>
  <div id="root"></div>
</body>
</html>
